body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
}

.App{
  width: 100%;
  padding-top: 8rem;
}

.screen-login{
    width: 100%;
    background-color: rgb(247, 247, 247);
    position: absolute;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }

    div.area-1{
      width: 50%;
      background-image: linear-gradient(to bottom, #ebebeb, #d7dbef00, #b7cdf54f, #88c3f88a, #2cbaf8c7);
      display: flex;
      align-items: flex-start;
      justify-content: center;

      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }

    div.area-line{
      padding: 0.1rem;
      background-color: #747474;
      box-shadow: 0px 0px 40px 1px;

      @media only screen and (max-width: 700px) {
        width: 100%;
        padding: 0.1rem;
      }
    }

    div.area-2{
      width: 50%;
      background-image: linear-gradient(to top, #ebebeb, #eeeeee, #f0f0f0, #f3f3f3, #f6f6f6);
      display: flex;
      flex-direction: column;

      div.area-2-info{
        padding: 2rem;
      }

      div.area-2-footer{
        width: 100%;
        height: 15rem;
        background-color: #e1e1e1;
      }

      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }

    div.area-login{
      width: 22rem;
      height: 36rem;
      border-radius: 1rem;
      padding-top: 3rem;
      position: sticky;
      padding-bottom: 3rem;
      top: 6rem;

      @media only screen and (max-width: 700px) {
        margin-top: 4rem;
      }
    }
}
  

.screen-forget-password{
  width: 100%;
  height: 100%;
  background-color: rgb(247 247 247);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .area-forget-password{
    width: 22rem;
    height: 36rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.screen-edit-image{
  width: 100%;
  height: 100%;
  background-color: rgb(247 247 247);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .area-edit-image{
    width: 22rem;
    height: 36rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


.margin-top-min{
  margin-top: 0.5rem !important;
}

.top-menu{
  background-color: #eaeaea;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  z-index: 1;

  #area-menu{
    position: fixed;
    width: 0%;
    display: flex;
    flex-direction: column;
    background-color: #c6c6c6;
    transition: 1s;
    right: 0px;
    top: 5rem;
    border-bottom-left-radius: 2rem;
    overflow-y: scroll;

    div{
      width: 100%;
      height: 3rem;
      background-color: #a4a4a4;
      transition: 1s;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2px;

      button{
        margin-left: 1rem;
      }
    }

    &.opened{
      width: 50%;
      height: 25rem;
      @media only screen and (max-width: 767px) {
        width: 80%;
      }
    }

    &.closed{
      width: 50%;
      height: 0rem;
    }
  }
}

.margin-top-mini{
  margin-top: 1rem !important;
}

.image-selected-feedback-edit{
  width: 8rem;
  height: 6rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.image-profile-bar-top{
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 2rem !important;
  border: 2px solid black !important;
}

.area-stripe-buy-tickets{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.display-home{
  margin: 1rem 1rem 1rem 1rem;
}

.btn-home-search-ai{
  margin-top: 1.8rem !important;
}

.area-cadastro-line-global {
  display: flex;

  button {
      margin-left: 1rem !important;
  }

  @media only screen and (max-width: 360px) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      button {
          margin-top: 1rem !important;
          margin-left: 0rem !important;
      }
  }
}

.area-form-home-search{
  @media only screen and (max-width: 770px) {
    div{
      margin-top: 0.2rem !important;
    }

    button{
      margin-top: 1rem !important;
    }
  }
}

// ---> xyz

.margin-top-mini{
  margin-top: 1rem !important;
}

.margin-top-medium{
  margin-top: 2rem !important;
}

// ---> xyz