body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e1e1 !important;

  @media only screen and (max-width: 1150px) {
    background-image: linear-gradient(to top, #ebebeb, #eeeeee, #f0f0f0, #f3f3f3, #f6f6f6) !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
}

.App{
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 1rem;
}

.display-screen-login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;

  .screen-login{
      width: 100%;
      background-color: rgb(247 247 247 / 0%);
      /* position: absolute; */
      display: flex;
      justify-content: space-between;
  
      @media only screen and (max-width: 1150px) {
        flex-direction: column;
      }
  
      header.area-1{
        width: 30%;
        background-image: linear-gradient(to bottom, #ebebeb, rgba(215, 219, 239, 0), rgba(183, 205, 245, 0.3098039216), rgba(136, 195, 248, 0.5411764706), rgba(44, 186, 248, 0.7803921569));
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 3px solid #e1e1e1;
        border-top: 0px;
        border-left: 0px;
        border-bottom-right-radius: 1rem;
        
        @media only screen and (max-width: 1150px) {
          border-bottom-left-radius: 1rem;
          width: 100%;
          border-top: 3px solid #e1e1e1;
          border-left: 3px solid #e1e1e1;
        }
      }
  
      section.area-2{
        width: 70%;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to top, #ebebeb, #eeeeee, #f0f0f0, #f3f3f3, #f6f6f6);
  
        div.area-2-info{
          padding: 2rem;
        }
  
        div.area-2-footer{
          width: 100%;
          background-color: #e1e1e1;
          padding: 1rem;
        }
  
        @media only screen and (max-width: 1150px) {
          width: 100%;
        }
      }
  
      div.area-login{
        width: 22rem;
        border-radius: 1rem;
        position: sticky;
        padding-bottom: 3rem;
        top: 4rem;
  
        @media only screen and (max-width: 1150px) {
          margin-top: 3rem;
          margin-bottom: 1rem;
        }
      }
  }

  footer{
    background-image: linear-gradient(to top, #dcdcdc, #e1e1e1, #e6e6e6, #ebebeb, #f0f0f0);
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: 1px solid #41a0ff;
    box-shadow: 0px 0px 31px -16px #2c90e2;
  }

}

.screen-forget-password{
  width: 100%;
  height: 100%;
  background-color: rgb(247 247 247);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .area-forget-password{
    width: 22rem;
    height: 36rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.screen-edit-image{
  width: 100%;
  height: 100%;
  background-color: rgb(247 247 247);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .area-edit-image{
    width: 22rem;
    height: 36rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


.margin-top-min{
  margin-top: 0.5rem !important;
}

.top-menu{
  background-color: #eaeaea;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  z-index: 1;

  #area-menu{
    position: fixed;
    width: 0%;
    display: flex;
    flex-direction: column;
    background-color: #c6c6c6;
    transition: 1s;
    right: 0px;
    top: 5rem;
    border-bottom-left-radius: 2rem;
    overflow-y: scroll;

    div{
      width: 100%;
      height: 3rem;
      background-color: #a4a4a4;
      transition: 1s;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2px;

      button{
        margin-left: 1rem;
      }
    }

    &.opened{
      width: 50%;
      height: 25rem;
      @media only screen and (max-width: 767px) {
        width: 80%;
      }
    }

    &.closed{
      width: 50%;
      height: 0rem;
    }
  }
}

.margin-top-mini{
  margin-top: 1rem !important;
}

.image-selected-feedback-edit{
  width: 8rem;
  height: 6rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.image-profile-bar-top{
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 2rem !important;
  border: 2px solid black !important;
}

.area-stripe-buy-tickets{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.display-home{
  margin: 1rem 1rem 1rem 1rem;
}

.btn-home-search-ai{
  margin-top: 1.8rem !important;
}

.area-cadastro-line-global {
  display: flex;

  button {
      margin-left: 1rem !important;
  }

  @media only screen and (max-width: 360px) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      button {
          margin-top: 1rem !important;
          margin-left: 0rem !important;
      }
  }
}

.area-form-home-search{
  @media only screen and (max-width: 770px) {
    div{
      margin-top: 0.2rem !important;
    }

    button{
      margin-top: 1rem !important;
    }
  }
}

.ai-anim-loading{
  width: 100%;
    display: flex;
    background-color: #90c9ff;
    background-image: url(./img/805172.svg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    animation: area-ai-entrance 1s ease 0s 1 normal backwards;
    flex-direction: column;
    color: white;

  @keyframes area-ai-entrance {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }

  div.base{
    height: 3rem;
    width: 3rem;
    background-image: linear-gradient(to bottom, #96cdff, #79b8f6, #5ba3ed, #3c8ee3, #1079d8);
    margin: 1rem;
    border-radius: 2rem;
    animation: ai-circle-base 2s ease 0s infinite normal forwards;
    box-shadow: 0px 0px 20px 2px blue;
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes ai-circle-base {
      0% {
        transform: scale(1);
      }
    
      50% {
        transform: scale(1.1);
      }
    
      100% {
        transform: scale(1);
      }
    }

    div.center{
      width: 2rem;
      height: 1rem;
      background-image: linear-gradient(to bottom, #002342, #003765, #004c89, #0262b0, #1079d8);
      border-radius: 1rem;
      animation: ai-circle-center 2s ease 0s infinite alternate forwards;

      @keyframes ai-circle-center {
        0% {
          width: 1rem;
          height: 0.5rem;
        }
      
        50% {
          width: 2rem;
          height: 0.5rem;
        }
      
        100% {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    
  }

  div.text{
    color: #ffffffd4;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: -9px;
  }

}

// ---> xyz

.margin-top-mini{
  margin-top: 1rem !important;
}

.margin-top-medium{
  margin-top: 2rem !important;
}

// ---> xyz