body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
}

.App{
  width: 100%;
}

.display-screen-login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: absolute;

  background-color: #e1e1e1 !important;

  @media only screen and (max-width: 1150px) {
    background-image: linear-gradient(to top, #ebebeb, #eeeeee, #f0f0f0, #f3f3f3, #f6f6f6) !important;
  }

  .screen-login{
      width: 100%;
      background-color: rgb(247 247 247 / 0%);
      /* position: absolute; */
      display: flex;
      justify-content: space-between;
  
      @media only screen and (max-width: 1150px) {
        flex-direction: column;
      }
  
      header.area-1{
        width: 30%;
        background-image: linear-gradient(to bottom, #ebebeb, rgba(215, 219, 239, 0), rgba(183, 205, 245, 0.3098039216), rgba(136, 195, 248, 0.5411764706), rgba(44, 186, 248, 0.7803921569));
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border: 3px solid #e1e1e1;
        border-top: 0px;
        border-left: 0px;
        border-bottom-right-radius: 1rem;
        
        @media only screen and (max-width: 1150px) {
          border-bottom-left-radius: 1rem;
          width: 100%;
          border-top: 3px solid #e1e1e1;
          border-left: 3px solid #e1e1e1;
        }
      }
  
      section.area-2{
        width: 70%;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to top, #ebebeb, #eeeeee, #f0f0f0, #f3f3f3, #f6f6f6);
  
        div.area-2-info{
          padding: 2rem;
        }
  
        div.area-2-footer{
          width: 100%;
          background-color: #e1e1e1;
          padding: 1rem;

          @media only screen and (max-width: 1150px) {
            padding-bottom: 5rem;
          }
        }
  
        @media only screen and (max-width: 1150px) {
          width: 100%;
        }
      }
  
      div.area-login{
        width: 22rem;
        border-radius: 1rem;
        position: sticky;
        padding-bottom: 3rem;
        top: 4rem;
  
        @media only screen and (max-width: 1150px) {
          margin-top: 3rem;
          margin-bottom: 1rem;
        }
      }
  }

  footer{
    background-image: linear-gradient(to top, #dcdcdc, #e1e1e1, #e6e6e6, #ebebeb, #f0f0f0);
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: 1px solid #41a0ff;
    box-shadow: 0px 0px 31px -16px #2c90e2;

    @media only screen and (max-width: 1150px) {
      margin-top: -3rem;
    }
  }

}

.screen-forget-password{
  width: 100%;
  height: 100%;
  background-color: rgb(247 247 247);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .area-forget-password{
    width: 22rem;
    height: 36rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.screen-edit-image{
  width: 100%;
  height: 100%;
  background-color: rgb(247 247 247);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .area-edit-image{
    width: 22rem;
    height: 36rem;
    border-radius: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


.margin-top-min{
  margin-top: 0.5rem !important;
}

#top-menu{
  background-image: linear-gradient(to left top, #fbfbfb, #f0f1fc00, #e0e9fecf, #cce1ffe3, #b2dbff00);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 0px 34px -22px;

  &.is-open-menu{
    border-bottom-right-radius: 0rem;
  }

  &.not-is-open-menu{

  }

  #area-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 34px -22px;
    transition: 0.5s;
    right: 0px;
    top: 5rem;
    border-bottom-left-radius: 2rem;
    overflow-y: scroll;
    align-items: flex-end;
    font-weight: 900;
    max-height: 20rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(to bottom, #f8f8f8, #f4f4fa, #edf0fc, #e5edfd, #dbebff);
    border-bottom: 1px solid #609cd1;

    div{
      width: 100%;
      height: 3rem;
      background-color: #ffffff14;
      transition: 0.1s;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2px;

      button{
        margin-left: 1rem;
      }
    }

    &.opened{
      width: 17rem;
      height: fit-content;
      @media only screen and (max-width: 767px) {
        width: 17rem;
      }
    }

    &.closed{
      width: 17rem;
      height: 0rem;
      padding: 0;
      border: none;
    }
  }
}

.margin-top-mini{
  margin-top: 1rem !important;
}

.image-selected-feedback-edit{
  width: 8rem;
  height: 6rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.image-profile-bar-top{
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 2rem !important;
  border: 2px solid black !important;
}

.area-stripe-buy-tickets{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.display-home{
  background-image: linear-gradient(to bottom, #f8f8f8, #f6f7fa, #f4f5fb, #f0f5fd, #ecf4ff);
  width: 100%;
  min-height: 100vh;
  padding: 7rem 2rem 2rem 2rem;
}

.btn-home-search-ai{
  margin-top: 1.8rem !important;
}

.area-cadastro-line-global {
  display: flex;

  button {
      margin-left: 1rem !important;
  }

  @media only screen and (max-width: 360px) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      button {
          margin-top: 1rem !important;
          margin-left: 0rem !important;
      }
  }
}

.area-form-home-search{
  @media only screen and (max-width: 770px) {
    div{
      margin-top: 0.2rem !important;
    }

    button{
      margin-top: 1rem !important;
    }
  }
}

.ai-anim-loading{
  width: 100%;
    display: flex;
    background-color: #90c9ff;
    background-image: url(./img/805172.svg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    animation: area-ai-entrance 1s ease 0s 1 normal backwards;
    flex-direction: column;
    color: white;

  @keyframes area-ai-entrance {
    0% {
      transform: scaleX(0);
    }
  
    100% {
      transform: scaleX(1);
    }
  }

  div.base{
    height: 3rem;
    width: 3rem;
    background-image: linear-gradient(to bottom, #96cdff, #79b8f6, #5ba3ed, #3c8ee3, #1079d8);
    margin: 1rem;
    border-radius: 2rem;
    animation: ai-circle-base 2s ease 0s infinite normal forwards;
    box-shadow: 0px 0px 20px 2px blue;
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes ai-circle-base {
      0% {
        transform: scale(1);
      }
    
      50% {
        transform: scale(1.1);
      }
    
      100% {
        transform: scale(1);
      }
    }

    div.center{
      width: 2rem;
      height: 1rem;
      background-image: linear-gradient(to bottom, #002342, #003765, #004c89, #0262b0, #1079d8);
      border-radius: 1rem;
      animation: ai-circle-center 2s ease 0s infinite alternate forwards;

      @keyframes ai-circle-center {
        0% {
          width: 1rem;
          height: 0.5rem;
        }
      
        50% {
          width: 2rem;
          height: 0.5rem;
        }
      
        100% {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    
  }

  div.text{
    color: #ffffffd4;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: -9px;
  }

}

.area-action-buttons{
  display: flex;
  flex-wrap: wrap;
  button{
    margin-bottom: 0.3rem !important;
  }
}

.area-modal-activities{
  overflow-y: auto;
  max-height: 29rem;
  min-height: 29rem;
  padding: 1rem;
}

.area-modal-activity{
  word-break: break-all;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  div.info{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
}

.display-quantidade{
  text-align: right;
  font-size: 12px;
  margin-top: 0.2rem;
}

.correct-question{
  background-image: linear-gradient(to left bottom, #afe1af00, #a6e9a64f, #9cf09c66, #92f8915e, #86ff8600);
  padding: 4px !important;
  border-radius: 7px !important;
  margin-left: -4px !important;
}

.wrong-question{
  background-image: linear-gradient(to left bottom, #e1afaf00, #e9a6a64f, #f09c9c66, #f891915e, #ff868600);
  padding: 4px !important;
  border-radius: 7px !important;
  margin-left: -4px !important;
}

.info-question-correct{
  text-decoration: underline #217dbe;
  text-align: left;
  font-weight: bold;
  margin-top: 0.5rem;
}

.info-question{
  font-weight: bold;
  font-size: 12px;
  margin-top: 1rem;
}

.info-question-new{
  font-weight: bold;
  font-size: 16px;
  margin-top: 1rem;
}

// ---> xyz

.margin-top-mini{
  margin-top: 1rem !important;
}

.margin-top-medium{
  margin-top: 2rem !important;
}

// ---> xyz